version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: votacao-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - votacao_pg_data:/var/lib/postgresql/data

volumes:
  votacao_pg_data:
